:root {
    margin: 0;
    padding: 0;

    --background-color: #f0ece9;
    --h1-line: #c2a288;
    --h1-text: #999896;
    --button-green: #5bb85d;
    --button-green-hover: #358537;
    --button-red: #da534f;
    --button-red-hover: #A13431;
    --button-text: #ffffff;
    --table-line1: #eef1fa;
    --table-line2: #ffffff;
    --tr-hover: #aef2e5;
    --dialog-background: #fff;
    --dialog-header: #555555;
    --dialog-h2: #edf4ef;
    --dialog-input-background: #ebebe4;
    --dialog-input-border: #c2c0be;
    --dialog-line: #eeeeee;
    --command-link-hover: blue;
}

body, h1, h2, h3{
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
}

.root {
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 30px;
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: center;
}

h1 {
    z-index: 20;
    width: 400px;
    text-align: center;
    background: var(--background-color);
    color: var(--h1-text);
}

.h1-line {
    z-index: 10;
    position: absolute;
    top: 50%;
    height: 5px;
    width: 100%;
    background: var(--h1-line);
}

.manage-add-del {
    margin-bottom: 20px;
}

.manage-btn {
    margin-right: 20px;
    width: 112px;
    height: 40px;
    font-size:medium;
    color: var(--button-text);
    border: solid 2px grey;
}

.page-btn {
    margin-left: 20px;
    width: 112px;
    height: 40px;
    font-size:medium;
    color: var(--button-text);
    border: solid 2px grey;
}

.green-btn {
    background: var(--button-green);
}

.green-btn:hover {
    background: var(--button-green-hover);
}

.red-btn {
    background: var(--button-red);
}

.red-btn:hover {
    background: var(--button-red-hover);
}

.page-text {
    font-family: sans-serif;
    font-size: large;
}

.pointer {
    cursor: pointer;
}

footer {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: end;
}

.table-box {
    width: 1400px;
    height: 560px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table, th, td {
    border: none;
}

tbody > tr:nth-child(even) {
    background: var(--table-line1);
}

tbody > tr:nth-child(odd) {
    background: var(--table-line2);
}

thead > tr {
    background: var(--table-line1);
}

tbody > tr:hover {
    background: var(--tr-hover);
    cursor: pointer;
}

.table-box tbody > .selectedProduct {
    background: var(--tr-hover);
}

th {
    padding: 12px 40px;
}

td {
    padding: 12px 40px;
    text-align: center;
}

aside {
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background: var(--dialog-background);
}

.mask {
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
}

.dialog-header {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dialog-header);
}

.dialog-header > h2 {
    color: var(--dialog-h2);
}

.dialog-form-body {
    padding: 20px 100px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    grid-row-gap: 25px; /* 设置行间距为 10px */
    grid-column-gap: 20px; /* 设置列间距为 10px */
}


.dialog-form-body label {
    grid-column: 1;
}

.dialog-form-body input {
    padding: 5px;
    width: 260px;
    grid-column: 2;
    background: var(--dialog-input-background);
    border: solid 1px var(--dialog-input-border);
}

.dialog-form-body input:focus {
    outline: none;
}

.dialog-form-footer {
    display: flex;
    justify-content: center;
    padding: 15px 30px;
    border-top: solid 1px var(--dialog-line);
}

.dialog-form-footer button {
    padding: 8px 56px;
}

.dialog-form-footer button:nth-child(2) {
    margin-left: 40px;
}

.command-link:hover {
    color: var(--command-link-hover);
}

.view-link {
    margin-right: 10px;
}

.diaplay {
    display: block;
}

.hidden {
    display: none;
}